* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.menu {
    list-style: none;
    font-size: 16px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-left: 50px;
}

.container {
    padding-top: 18px;
    display: flex;
    max-width: 1304px;
    margin: 0 auto;
    justify-content: space-between;
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
}

.logo {
    display: flex;
    width: 76px;
    height: 23px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    font-size: 16px;
    min-width: 163px;
    min-height: 38px;
    background-color: #0013FF;
    color: #fff;
}